body {
    margin: 0;
    background: #222;
    font-family: "Open Sans", sans-serif;
}
.dice-container {
    max-width: 480px;
    margin: 2rem auto;
    padding: 0 1rem;
}
.dice-buttons {
    margin-bottom: 0.5rem;
    color: #fff;
}
.results {
    color: #fff;

    table {
        margin-top: 1rem;

        tr {

            td {
                font-size: 0.85rem;
                text-transform: uppercase;
                padding: 0.25rem 0;

                &:last-child {
                    font-weight: 700;
                }
            }
        }
    }
}