body {
    margin: 0;
    background: #222;
}
.dice-container {
    max-width: 480px;
    margin: 2rem auto;
}
.dice-buttons {
    margin-bottom: 0.5rem;
    color: #fff;
}
.results {
    color: #fff;
}